.userList {
  flex: 4;
}

.userListUser {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userListImage {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}
